body{
    padding: 0px;
    margin: 0px;
}

.top_black{
    background-color: #333333;
    height: 3vh;
    width: 100vw;
    z-index: 100;
}

.right{
    width:20vw;
    background-color: #e7f6fd;
    float: right;
    height: 95.5vh;
    padding-top: 0.5vh;
}

.profile{
    height: 14vh;
    width: 100%;
    background-color:#ffffff;
    outline:2px solid #e3e3e3;
}

.images{
    padding-top: 1vh;
    height: 12vh;
    width: 7vw;
    padding-left: 1vw;
}

.help{
    letter-spacing: 0.02px;
    overflow-x: hidden;
    font-size: 2vh;
    height: 22vh;
    width:100%;
    background-color: #ffffff;
    outline:2px solid #e3e3e3;
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 10px;
    column-gap: 5px;
}

.sep_top_bot{
    background-color: #5786c7;
    width: 100%;
    height: 5vh;
    color: white;
    font-weight: bolder;
    padding-top: 4px;
    padding-left: 3px;
}

.navigation{
    outline: 1px solid #082f49;
    height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.btn_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.submit{
    border: none;
    background-color: #3f97f6;
    height: 4vh;
    width: 15vh;
    color: #ffffff;
}

.submit:disabled{
    cursor: not-allowed;
    background-color: #5786c7;
}

.main_area{
    height: 96vh;
    width: 79.8%;
    
}

.groups{
    background-color: #ffffff;
    height: 5vh;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
}

.sec_time{
    background-color: #ffffff;
    height: 3vh;
    outline: 1px solid #e3e3e3;
    padding-left: 10px;
    padding-right: 10px;
}

.sections{
    background-color: #ffffff;
    height: 5vh;
    outline: 1px solid #e3e3e3;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.q_info{
    background-color: #ffffff;
    height: 3vh;
    outline: 1px solid #e3e3e3;
    font-size: 2vh;
    font-weight: 500;
    padding-left: 3px;
    padding-right: 3px;
}

.lang_sel{
    height: 5vh;
    background-color: #5786c7;
}

.q_no{
    background-color: #ffffff;
    height: 3vh;
    outline: 1px solid #e3e3e3;
    font-size: 2vh;
    font-weight:bolder;
}

.q_area{
    padding-top: 15px;
    padding-left: 15px;
    height: 67.5vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 15px;
    font-weight: 500;
    -moz-user-select: none;  
    -webkit-user-select: none;  
    -ms-user-select: none;  
    -o-user-select: none;  
    user-select: none;

}

.nav_btns{
    background-color: #ffffff;
    padding-left: 2vw;
    padding-top: 1vh;
    height: 5vh;
    outline: 1px solid #e3e3e3;
}

.save_next_btn{
    
    width: 40vw;
    float: right;
    padding-right: 1vw;
}

.next{
    background-color: #3f97f6;
    color: #ffffff;
    float: right;
    border: none;
}

.review{
    background-color: #ffffff;
    border: none;
    outline: 1px solid #e3e3e3;
    color: #636363;
}

.review:hover{
    background-color: #3f97f6;
    color: #ffffff;
    outline: 1px solid #e3e3e3;
}

.clr_res{
    background-color: #ffffff;
    border: none;
    outline: 1px solid #e3e3e3;
    color: #636363;
}

.clr_res:hover{
    background-color: #3f97f6;
    color: #ffffff;
    outline: 1px solid #e3e3e3;
}




.ans{
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    display: inline-block;
    clip-path: polygon(40% 0, 60% 0, 100% 40%, 100% 100%, 0 100%, 0 40%);
    background-color: #77ba00;
    width: 20px;
    height: 20px;
}

.nans{
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    display: inline-block;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 60% 100%, 40% 100%, 0 60%);
    background-color: #d84100;
    width: 20px;
    height: 20px;
}

.nvisit{
    text-align: center;
    font-size: 12px;
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
    display: inline-block;
    background-color: #d5d5d5;
    width: 20px;
    height: 20px;
}

.mfr{
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    clip-path: circle(50% at 50% 50%);
    display: inline-block;
    background-color: #725298;
    width: 20px;
    height: 20px;
}

.amfr{
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    background-image: url(../images/amfr.png);
    background-size: 20px;
    background-repeat: no-repeat;
    grid-column: span 2;
    width: 20px;
    height: 20px;
}

.h_ele_t{
    padding-top: 5%;
    padding-left: 1%;
}


.watermarked::before {
    position: fixed;
    top: -75%;
    left: -75%;

    display: block;
    width: 300%;
    height: 300%;

    transform: rotate(-45deg);
    content: attr(data-watermark);

    font-size: 35px;
    opacity: 0.2;
    line-height: 4em;
    letter-spacing: 2px;

    z-index:-1;
}

.grp_btn_cover{
    height: 4vh;
    padding-top: 0.1vh;
    padding-left: 2vw;
}

.grp_btn{
    width: auto;
    height: 4vh;
    font-size: 10px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #000000;
}

.sec_btn{
    width: auto;
    border: none;
    font-size: 10px;
    height: 100%;
    outline: 1px solid #e3e3e3;
    background-color: white;
    padding: 5px;

}


.current_active_group{
    background-color: #3f97f6;
    color: white;

}

.sec_btn_cover{
    padding-top: 0.1vh;
}

.nav_elem{
    border: none;
    padding-top: 1vh;
    font-size: 3vh;
    text-align: center;
    background-color: #ececec;
    height: 7vh;
    width: 4vw;
    border: 1px solid #b9c0c4;
    border-radius: 5px;
}

.nav_elem_cover{
    padding: 5px;
}

.q_type{
    width: 50%;
    display: inline-block;
}

.q_scoring{
    float: right;

}

.opt_divs{
    padding: 15px;
}

.na_button{
    background-color: #d84100;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 60% 100%, 40% 100%, 0 50%);
}

.a_button{
    background-color: #77ba00;
    color: white;
    clip-path: polygon(40% 0, 60% 0, 100% 40%, 100% 100%, 0 100%, 0 40%);
}

.mfr_button{
    background-color: #725298;
    color: white;
    clip-path: circle(45% at 50% 50%);
}

.amfr_button{
    background-color: #e7f6fd;
    background-image: url(../images/amfr_btn.png);
    background-size: 50px;
    clip-path: circle(45% at 50% 50%);
    /* background-position: -2px -5px; */
    background-repeat: no-repeat;
    color: white;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

input[type=number]{
    width: 15%;
}